<mat-drawer-container>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-beetwen center" class="barra-inicio">
    <div fxFlex="35">
      <img src="assets/images/logo.png" width="35%" />
    </div>

    <div fxFlex="65" fxLayoutAlign="end center">

      <a href="" class="button-menu" mat-button>
        <span class="topo" Funcionalidades>Início</span>
      </a>
      <a class="button-menu" mat-button>
        <span class="topo">Sobre Mim</span>
      </a>
      <a class="button-menu" mat-button>
        <span class="topo">Fotos</span>
      </a>
      <a class="button-menu" mat-button>
        <span class="topo">Endereço</span>
      </a>


      <br>
      <a mat-flat-button class="botao-rosa">Agende seu Horario <3</a>
    </div>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div  fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/images/fundonacorte.png" class="fundo" width="100%">

    </div>
  </div>
<br>
<br>
  <div class="container">

    <h1>Sobre Mim</h1>
    <p>
      Olá, meu nome é Naiara, sou manicure a sete anos, 
      A profissão de manicure asssume grande importância dentro da estética, além de promover a saude dos pés e mãos. 
      A palavra manicuro veio do latim “manus” que quer dizer “mão”. “Curo” quer dizer tratamento. Portanto, 
      manicure é o tratamento das mãos e unhas.
    </p>

  </div>